.font-nav {
  font-size: 1rem;
  color: #FFFFFF;
  letter-spacing: 0; }

.font-color {
  font-size: 1.33rem;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.5rem;
  text-decoration: none; }

.font-btn-dark {
  color: #FFFFFF; }

.font-search {
  font-size: 1.16rem;
  color: #110038;
  letter-spacing: 0; }

.font-gif {
  font-weight: bold;
  font-size: 1.16rem;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-left: 0.25rem;
  align-self: center; }

.font-btn-gif {
  font-size: 1.16rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.5rem; }

.font-bar-search {
  font-size: 1.16rem;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold; }

.header-section {
  margin-top: 5.33rem; }
  .header-section .font-header-section {
    font-size: 14px;
    color: #110038;
    letter-spacing: 0; }

.font-color.mis-guifos::first-letter {
  text-decoration: underline; }

header .nav-bar-1 {
  width: 100%;
  height: 1, 92rem;
  margin: 0; }
header .nav-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 3.25rem;
  margin-bottom: 3rem; }
header .btn-bar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-2 {
  display: flex;
  margin-top: 3.25rem;
  margin-bottom: 3rem; }

.box {
  height: 8.25rem;
  width: 100%;
  padding: 0.25rem 0.25rem; }
  .box .search-box {
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    height: 4rem;
    width: 88.5%;
    margin-left: 1.25rem;
    font-size: 1.33rem;
    color: #b4b4b4;
    letter-spacing: 0;
    line-height: 1.83rem; }

.busquedas-sugeridas {
  height: 13.33rem;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: flex;
  flex-direction: column; }
  .busquedas-sugeridas .boton-busqueda {
    width: 87.97rem;
    height: 2.83rem;
    margin-left: 1.33rem;
    margin-top: 1.33rem;
    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff; }

.container-1 {
  margin-top: 1.58rem;
  display: flex;
  justify-content: space-between; }
  .container-1 .div-random {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    position: relative;
    width: 24rem;
    height: 26.08rem; }
    .container-1 .div-random .nav-bar {
      display: flex;
      justify-content: space-between;
      margin-top: 0.25rem;
      margin-left: 0.25rem;
      height: 2rem;
      width: 23.33rem; }
      .container-1 .div-random .nav-bar .close-btn {
        width: 1.33rem;
        height: 1.17rem;
        align-self: center;
        margin-right: 0.25rem; }

.header-gif-random-1 {
  width: 16.66rem;
  height: 2rem;
  margin-top: 1.33rem; }

#trending {
  display: grid;
  margin-top: 1.33rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 24rem;
  grid-auto-flow: dense;
  grid-gap: 0.83rem; }
  #trending .trending-item img {
    width: 100%;
    height: 100%; }
    #trending .trending-item img:hover {
      outline: 1px dotted #110038; }
  #trending .trending-item-wide {
    grid-column: span 2; }

#giphy {
  display: grid;
  margin-top: 1.33rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 24rem;
  grid-auto-flow: dense;
  grid-gap: 0.83rem; }
  #giphy .trending-item img {
    width: 100%;
    height: 100%; }
  #giphy .giphy-item-wide {
    grid-column: span 2; }

.btn-nav {
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  width: 12rem;
  height: 3rem;
  margin-right: 1.38rem;
  padding: 7px 7px 7px 7px; }

.btn-search {
  background: #E6E6E6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 8.5rem;
  height: 3rem;
  font-size: 1.33rem;
  text-align: center;
  align-self: center;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin-right: 1.55rem; }

.btn-search.default:before {
  content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/lupa_inactive.svg");
  height: 1.33rem;
  width: 1.33rem;
  text-align: center;
  margin-right: 0.5rem; }

.btn-2 {
  position: absolute;
  bottom: 1.25rem;
  left: 0.58rem;
  height: 2.83rem;
  width: 6.75rem;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF; }

#sugerido-1,
#sugerido-2,
#sugerido-0,
#sugerido-3 {
  height: 23.33rem;
  width: 23.33rem;
  margin-left: 0.28rem; }
  #sugerido-1:hover,
  #sugerido-2:hover,
  #sugerido-0:hover,
  #sugerido-3:hover {
    border: 1px dotted #110038; }

.CrearGifos {
  display: flex;
  justify-content: center;
  margin-top: 4.5rem; }
  .CrearGifos .container {
    height: 32.17rem;
    width: 57rem;
    padding: 0.25rem;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }
    .CrearGifos .container .titulo-crear-gifos {
      display: flex;
      align-self: flex-start;
      margin-top: 2.25rem;
      margin-left: 2.03rem; }
      .CrearGifos .container .titulo-crear-gifos h2 {
        font-family: "Chakra Petch", sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px; }
      .CrearGifos .container .titulo-crear-gifos .pantallita {
        width: 2.67rem;
        height: 2.67rem;
        margin-right: 1.33rem; }
    .CrearGifos .container .texto-crear-guifo {
      margin-left: 6.08rem;
      margin-top: 1.42rem;
      margin-right: 7.75rem;
      margin-bottom: 2.33rem;
      align-self: center; }
      .CrearGifos .container .texto-crear-guifo p,
      .CrearGifos .container .texto-crear-guifo ul,
      .CrearGifos .container .texto-crear-guifo li {
        font-family: "Chakra Petch", sans-serif;
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        line-height: 20px;
        list-style: none;
        margin-bottom: 1rem; }
    .CrearGifos .container .botones {
      display: flex;
      justify-content: flex-end; }
      .CrearGifos .container .botones .btn-crear-gifo {
        background: #f7c9f3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        margin-right: 1.33rem;
        width: 12rem;
        height: 3rem; }

.select-box {
  position: relative;
  display: inline-block;
  width: 12rem;
  margin-right: 1.33rem; }
  .select-box .theme-picker {
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    height: 3rem;
    width: 11.92rem;
    cursor: pointer;
    text-align: left;
    padding: 7px 7px 7px 7px;
    font-size: 1.33rem;
    font-family: "Chakra Petch", sans-serif; }
    .select-box .theme-picker:after {
      position: absolute;
      content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/dropdown.svg");
      width: 36px;
      height: 34px;
      border: 1px solid #110038;
      text-align: center;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      margin-left: 1.31rem;
      margin-top: -0.73rem; }
      .select-box .theme-picker:after:hover {
        border: 1px solid #110038;
        outline: 1px dotted #110038;
        outline-offset: -4px; }
  .select-box .dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    width: 12rem;
    margin-right: 1.33rem; }
    .select-box .dropdown-content.show {
      display: flex;
      flex-direction: column; }
    .select-box .dropdown-content button {
      height: 3rem;
      width: 10.5rem;
      margin: 10px;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
      text-align: left;
      padding: 7px 7px 7px 16px;
      font-size: 1.33rem;
      font-family: "Chakra Petch", sans-serif; }

.selected::first-letter {
  text-decoration: underline; }

.video-div {
  width: 100%;
  display: flex;
  justify-content: center; }
  .video-div .container-video {
    width: 71.67rem;
    height: 45.67rem;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    padding: 0.3rem; }
    .video-div .container-video header {
      width: 71.17rem;
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .video-div .container-video header p {
        margin-left: 0.4rem;
        font-weight: bold; }
      .video-div .container-video header .exit {
        background: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/button3.svg") no-repeat;
        cursor: pointer;
        border: none;
        width: 1.33rem;
        height: 1.17rem;
        margin-right: 0.4rem; }
    .video-div .container-video video {
      margin: 0.5rem;
      width: 69.83rem;
      height: 36.67rem;
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000; }
    .video-div .container-video .botones-enviar-gif {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 0.5rem;
      position: relative; }
      .video-div .container-video .botones-enviar-gif .send {
        width: 12rem;
        height: 3rem;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        margin-right: 1.17rem; }
    .video-div .container-video .botones-grabar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 0.5rem;
      position: relative; }
      .video-div .container-video .botones-grabar .btn-record {
        background: #f7c9f3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        width: 12rem;
        height: 3.2rem; }
        .video-div .container-video .botones-grabar .btn-record:hover {
          border: 1px solid #110038;
          outline: 1px dotted #110038;
          outline-offset: -4px; }

.btn-crear-gifo:hover {
  border: 1px solid #110038;
  outline: 1px dotted #110038;
  outline-offset: -4px; }

.display-none {
  display: none; }

.stop-recording {
  width: 12rem;
  height: 3rem;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff; }

.botones-grabar.show::before {
  padding: 0.66rem;
  content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/camera.svg");
  text-align: center;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  display: inline-block; }

.botones-grabar.hide::before {
  padding: 0.45rem;
  content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/recording.svg");
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  display: inline-block; }

body.principal {
  background-color: #fdf4fc; }
  body.principal .logo-1 {
    background-image: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/gifOF_logo.png"); }
  body.principal .select-box .theme-select {
    background: #f7c9f3; }
  body.principal .select-box .dropdown-content {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }
    body.principal .select-box .dropdown-content .theme-pick {
      background: #f0f0f0; }
      body.principal .select-box .dropdown-content .theme-pick:active, body.principal .select-box .dropdown-content .theme-pick:hover {
        background-color: #fff4fd;
        border: 1px solid #110038;
        outline: 1px dotted #110038;
        outline-offset: -4px; }
    body.principal .select-box .dropdown-content .selected {
      background-color: #fff4fd; }
  body.principal .btn {
    background: #f7c9f3; }
  body.principal .font-color {
    color: #110038; }
  body.principal .nav-bar {
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%); }
  body.principal .btn-2 {
    background: #4180f6; }
  body.principal .header-section {
    background: #fffafe;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    border: 1px solid #e6bbe2; }
  body.principal .btn-search.change:before {
    content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/lupa.svg");
    height: 1.33rem;
    width: 1.33rem;
    text-align: center;
    margin-right: 0.5rem; }
  body.principal .active {
    background: #f7c9f3;
    border: 1px solid #110038;
    border: 1px solid #110038;
    outline: 1px dotted #110038;
    outline-offset: -4px;
    color: #110038; }
    body.principal .active:before {
      content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/lupa.svg");
      height: 1.33rem;
      width: 1.33rem;
      text-align: center;
      margin-right: 0.5rem; }
  body.principal .box {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }
  body.principal .trending-item {
    position: relative; }
    body.principal .trending-item footer {
      display: none; }
    body.principal .trending-item:hover footer {
      display: block;
      background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
      position: absolute;
      bottom: 0;
      font-weight: bold;
      font-size: 1.16rem;
      color: #FFFFFF;
      letter-spacing: 0; }

body.dark {
  background-color: #0f0135; }
  body.dark .logo-1 {
    background-image: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/gifOF_logo_dark.png"); }
  body.dark .select-box .theme-select {
    background: #ee3efe; }
  body.dark .select-box .dropdown-content {
    background: #b4b4b4;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff; }
    body.dark .select-box .dropdown-content .theme-pick {
      background: #cccccc; }
      body.dark .select-box .dropdown-content .theme-pick:active, body.dark .select-box .dropdown-content .theme-pick:hover {
        background-color: #2e32fb;
        border: 1px solid #110038;
        outline: 1px dotted #110038;
        outline-offset: -4px; }
    body.dark .select-box .dropdown-content .selected {
      background-color: #2e32fb; }
  body.dark .btn {
    background: #ee3efe; }
  body.dark .font-color {
    color: #ffffff; }
  body.dark .nav-bar {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }
  body.dark .btn-2 {
    background: #2e32fb; }
  body.dark .header-section {
    background: #fffafe;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
    border: 1px solid #2e32fb; }
  body.dark .btn-search.change:before {
    content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/lupa_light.svg");
    height: 1.33rem;
    width: 1.33rem;
    text-align: center;
    margin-right: 0.5rem; }
  body.dark .active {
    background: #ee3efe;
    border: 1px solid #110038;
    border: 1px solid #110038;
    outline: 1px dotted #110038;
    outline-offset: -4px;
    color: #ffffff; }
    body.dark .active:before {
      content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/lupa_light.svg");
      height: 1.33rem;
      width: 1.33rem;
      text-align: center;
      margin-right: 0.5rem; }
  body.dark .box {
    background: #b4b4b4;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff; }
  body.dark .trending-item {
    position: relative; }
    body.dark .trending-item footer {
      display: none; }
    body.dark .trending-item:hover footer {
      display: block;
      background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
      position: absolute;
      bottom: 0;
      font-weight: bold;
      font-size: 1.16rem;
      color: #FFFFFF;
      letter-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 12px;
  font-family: "Chakra Petch", sans-serif; }

.margen {
  margin-right: 7.58rem;
  margin-left: 7.58rem; }

.logo-1 {
  width: 8.55rem;
  height: 5.33rem;
  background-repeat: no-repeat; }

.theme-picker:hover,
.btn-nav:hover {
  border: 1px solid #110038;
  outline: 1px dotted #110038;
  outline-offset: -4px; }

.mis-guifos:hover {
  border: 1px dotted #110038; }

/*# sourceMappingURL=styles.css.map */
