@import "./fuentes.scss";
@import "./barras-navegacion.scss";
@import "./botones.scss";
@import "./buscadores.scss";
@import "./trending.scss";
@import "./select-box.scss";
@import "./video.scss";  

$font: "Chakra Petch", sans-serif;
$doted: 1px solid #110038;

$color-scheme: (
    principal,
    #fdf4fc,
    #f7c9f3,
    url("../assets/gifOF_logo.png"),
    linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%),
    #110038,
    #4180f6,
    #fffafe,
    1px solid #e6bbe2,
    (inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d),
    #e6e6e6,
    (inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff),
    #f0f0f0,
    #fff4fd,
    url("../assets/lupa.svg"),
    url("../assets/camera.svg"),
    #f7c9f3,
    1px dotted #110038
  ),
  (
    dark,
    #0f0135,
    #ee3efe,
    url("../assets/gifOF_logo_dark.png"),
    linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%),
    #ffffff,
    #2e32fb,
    #fffafe,
    1px solid #2e32fb,
    (inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038),
    #b4b4b4,
    (inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff),
    #cccccc,
    #2e32fb,
    url("../assets/lupa_light.svg"),
    url("../assets/camera_light.svg"),
    #ee3efe,
    1px dotted #ffffff
  );

@mixin get_theme(
  $name,
  $background,
  $color-button,
  $icon,
  $search,
  $font-color,
  $color-button-2,
  $background-section-header,
  $border-section-header,
  $shadow-section-header,
  $box-background,
  $box-shadow,
  $inside-box,
  $hover-box,
  $change-lupa,
  $change-cam,
  $loading,
  $dote-gifos
) {
  body.#{$name} {
    background-color: $background;
    .logo-1 {
      background-image: $icon;
    }

    .send {
      background: $inside-box;
      &:active,
      &:hover {
        background-color: $hover-box;
        border: $doted;
        outline: 1px dotted #110038;
        outline-offset: -4px;
      }
    }
    .select-box {
      .theme-select {
        background: $color-button;
      }
      .dropdown-content {
        background: $box-background;
        box-shadow: $box-shadow;

        .theme-pick {
          background: $inside-box;

          &:active,
          &:hover {
            background-color: $hover-box;
            border: $doted;
            outline: 1px dotted #110038;
            outline-offset: -4px;
          }
        }
        .selected {
          background-color: $hover-box;
        }
      }
    }

    .btn-cancel {
      background: $hover-box;
    }
    .btn {
      background: $color-button;
    }
    .font-color {
      color: $font-color;
    }
    .nav-bar {
      background-image: $search;
    }
    .btn-2,
    .btn-saved-search {
      background: $color-button-2;
    }

    .header-section {
      background: $background-section-header;
      box-shadow: $shadow-section-header;
      border: $border-section-header;
    }
    .botones-grabar.show {
      &::before {
        content: $change-cam;
        background: $color-button;
      }
    }

    .btn-search.change {
      &:before {
        content: $change-lupa;
        height: 1.33rem;
        width: 1.33rem;
        text-align: center;
        margin-right: 0.5rem;
        background-color: $color-button;
      }
    }
    .active {
      background: $color-button;
      border: $doted;
      border: $doted;
      outline: 1px dotted #110038;
      outline-offset: -4px;
      color: $font-color;
      &:before {
        content: $change-lupa;
        height: 1.33rem;
        width: 1.33rem;
        text-align: center;
        margin-right: 0.5rem;
      }
    }

    .box {
      background: $box-background;
      box-shadow: $box-shadow;
    }

    .send-guifos {
      background-color: $hover-box;
    }

    .loading {
      background-color: $loading;
    }

    .mis-guifos:hover {
      border: $dote-gifos;
    }

    @include trending-item($search);
  }
}

@each $name, $background, $color-button, $icon, $search, $font-color,
  $color-button-2, $background-section-header, $border-section-header,
  $shadow-section-header, $box-background, $box-shadow, $inside-box, $hover-box,
  $change-lupa, $change-cam, $loading, $dote-gifos in $color-scheme
{
  @include get_theme(
    $name,
    $background,
    $color-button,
    $icon,
    $search,
    $font-color,
    $color-button-2,
    $background-section-header,
    $border-section-header,
    $shadow-section-header,
    $box-background,
    $box-shadow,
    $inside-box,
    $hover-box,
    $change-lupa,
    $change-cam,
    $loading,
    $dote-gifos
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: $font;
}

.margen {
  margin-right: 7.58rem;
  margin-left: 7.58rem;
}

.logo-1 {
  width: 8.55rem;
  height: 5.33rem;
  background-repeat: no-repeat;
}

.theme-picker:hover,
.btn-nav:hover {
  border: $doted;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}
