.video-div {
  width: 100%;
  display: flex;
  justify-content: center;

  .container-video {
    width: 71.67rem;
    height: 45.67rem;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    padding: 0.3rem;

    header {
      width: 71.17rem;
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-left: 0.4rem;
        font-weight: bold;
      }

      .exit {
        background: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/button3.svg")
          no-repeat;
        cursor: pointer;
        border: none;
        width: 1.33rem;
        height: 1.17rem;
        margin-right: 0.4rem;
      }
    }

    video {
      margin: 0.5rem;
      width: 69.83rem;
      height: 36.67rem;
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    }
    .botones-enviar-gif{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 0.5rem;
      position: relative;

      .send{
        width: 12rem;
        height: 3rem;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        margin-right: 1.17rem;
      }

    }
    .botones-grabar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 0.5rem;
      position: relative;

      .btn-record {
        background: #f7c9f3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        width: 12rem;
        height: 3.2rem;

        &:hover{
          border: 1px solid #110038;
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }
      }
    }
  }
}

.btn-crear-gifo:hover{
    border: 1px solid #110038;
      outline: 1px dotted #110038;
      outline-offset: -4px;
}



.display-none {
  display: none;
}

.stop-recording {
  width: 12rem;
  height: 3rem;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}

.botones-grabar.show {
  &::before {
    padding: 0.66rem;
    content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/camera.svg");
    text-align: center;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    display: inline-block;
  }
}

.botones-grabar.hide {
  &::before {
    padding: 0.45rem;
    content: url("/Users/valeria/Desktop/Acamica/Proyecto GifOS/assets/recording.svg");
    background: #ff6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
    display: inline-block;
  }
}
